---
import Main from "../layouts/main.astro";

import { getCollection } from "astro:content";
const assignments = await getCollection("a");
---

<Main title={import.meta.env.FNAME + "'s School Portal"}>
  <p class="p-2 pb-8">
    You can see all the asignents for {import.meta.env.FNAME} below.
  </p>

  <h2 class="text-3xl p-3">Assignments:</h2>
  <ul class="p-2">
    {
      () => {
        // get all the different years
        const years: number[] = Array.from(
          new Set(assignments.map((a) => a.data.date.getFullYear()))
        );

        return years.map((year) => {
          const months: string[] = Array.from(
            new Set(
              assignments
                .filter((a) => a.data.date.getFullYear() === year)
                .map((a) =>
                  a.data.date.toLocaleString("default", { month: "long" })
                )
            )
          );

          return (
            <li class="list-disc list-inside text-2xl p-2">
              {year}:
              <ul>
                {months.map((month) => (
                  <li class="list-disc list-inside text-xl p-2">
                    {month}:
                    <ul>
                      {assignments
                        .filter((a) => a.data.date.getFullYear() === year)
                        .filter(
                          (a) =>
                            a.data.date.toLocaleString("default", {
                              month: "long",
                            }) === month
                        )
                        .map((a) => {
                          return (
                            <li class="p-2 list-disc list-inside text-sm">
                              <a
                                href={`/a/${a.slug}`}
                                class="text-blue hover:text-green hover:underline"
                              >
                                {a.data.title} - {a.data.date.toDateString()}
                              </a>
                            </li>
                          );
                        })}
                    </ul>
                  </li>
                ))}
              </ul>
            </li>
          );
        });
      }
    }
  </ul>
</Main>
